<head>
	<meta charset="utf-8">
	<title>{{ page.title | default: site.title }}</title>
	<meta name="description" content="{{ page.excerpt | strip_html | default: site.description }}">
	<meta property="og:title" content="{{ page.title | default: site.title }}" />
	<meta property="og:description" content="{{ page.excerpt | strip_html | default: site.description }}" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ page.url | absolute_url }}" />
	<meta property="og:image" content="{{ page.image | default: site.image | absolute_url }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ page.title | default: site.title }}" />
	<meta name="twitter:description" content="{{ page.excerpt | strip_html | default: site.description }}" />
	<meta name="twitter:image" content="{{ page.image | default: site.image | absolute_url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
	<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
</head>
<body>
{% include nav.html %}
{{ content }}
<footer style="text-align:center; color:#888; font-size:0.95em; margin-top:3em; padding-bottom:2em;">
	<span>
		Todo el contenido de este sitio está bajo una <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="noopener" style="color:#0056b3;">Licencia Creative Commons Atribución 4.0 Internacional</a>.<br>
		Autor: <a href="https://www.instagram.com/cwolf_imc/" target="_blank" rel="noopener" style="color:#0056b3; text-decoration:none;">Carlos Wolf</a>
	</span>
</footer>
